            span{
                font-style: italic;
                text-decoration: underline;
                color: blanchedalmond;
            }
            h1{
                color:blanchedalmond;
            }
            body{
                background-color:rgb(11, 11, 61);
                border: 6px solid black;
                color: blanchedalmond;
                margin-left: 10px;
            }
            .deco{
                margin-left: 10px;
                text-align: justify;
                margin-bottom: 10px;
            }
            a{
                color: blanchedalmond;
            }
